<div class="header">
    <a class="link" href="{{ url_for('space.home')}}">Home</a>
    <nav>
        <ul class="navigation">
            <li>
                <a class="link">Projects</a>
            </li>
            <li>
                <a class="link">TILs</a>
            </li>
            <li>
                <a class="link" href="{{ url_for('space.giants') }}">Giants</a>
            </li>
            <li>
                <a class="link">Blog</a>
            </li>
            <li>
                <a class="link">CV</a>
            </li>
        </ul>
    </nav>
</div>