<div class="header">
    <a class="link" href="{{ url_for('space.home')}}">Home</a>
    <nav>
        <ul class="navigation">
            <li>
                <a class="link">Projects</a>
            </li>
            <li>
                <a class="link" href="{{ url_for('learn.page::index') }}">Learn</a>
            </li>
            <li>
                <a class="link" href="{{ url_for('giants.page::index') }}">Giants</a>
            </li>
            <li>
                <a class="link">Blog</a>
            </li>
            <li>
                <a class="link">이력서</a>
            </li>
        </ul>
    </nav>
</div>