:root {
    --kss-background: #000C18;
    --kss-background-layer-1: #082050;
    --kss-background-highlight: #082050;
    --kss-background-active: #770811;
    --kss-font-color: #22AA44;
    --kss-font-highlight: #DDBB88;
}