.sotsog {
    & .newton-said {
        font-size: var(--font-size-6);
        color: var(--kss-font-highlight);
    }
}


.giants {
    padding-top: var(--size-5);
}

.search-panel {
    padding-top: var(--size-6);

    & .search-input::part(base) {
        margin-top: var(--size-3);
        background-color: var(--kss-background);
        color: var(--kss-font-color);
        padding-inline-start: var(--size-3);
    }

    & .tag-search-panel {
        margin-top: var(--size-3);
        padding-block: var(--size-4);
        border-block: 1px solid var(--kss-font-color);
    }

    & .name-search-panel {
        margin-top: var(--size-3);
    }
}

.giant-cards-container {

    & .invalid-data,
    .no-search-result {
        padding-top: var(--size-3);
    }
}

.giant-cards {
    padding-top: var(--size-8);
    display: grid;
    gap: var(--size-3);
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .giant-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}


.giant-card {

    border: 1px solid var(--kss-font-highlight);
    padding: var(--size-5);

    & .name {
        padding-block: var(--size-5);
        font-size: var(--size-5);
        font-weight: var(--font-weight-6);
    }

    & .socials {
        padding-top: var(--size-3);
        display: flex;
        justify-content: end;
        gap: var(--size-3);
    }
}
