{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.12.0/cdn/themes/light.css" />
<link href="{{ url_for('static', filename='css/giants.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/giants/index.css') }}" rel="stylesheet">
{% endblock css %}

{% block content %}
<section class="sotsog">
    <blockquote>
        <p class="newton-said">... If I have seen further it is by standing on the shoulders of Giants.</p>
        <footer>
            <cite>
                <a href="https://en.wikipedia.org/wiki/Standing_on_the_shoulders_of_giants#Isaac_Newton">
                    by Isaac Newton
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                        class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                        <path fill-rule="evenodd"
                            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                    </svg>
                </a>
            </cite>
        </footer>
    </blockquote>
</section>
<section class="giant-tab-group">
    <sl-tab-group class="kss-main-tab">
        <sl-tab class="kss-tab" slot="nav" panel="giants">거인들</sl-tab>
        <sl-tab class="kss-tab" slot="nav" panel="custom">의 말</sl-tab>
        <sl-tab class="kss-tab" slot="nav" panel="advanced">에 대한 내 뻘소리</sl-tab>

        <sl-tab-panel name="giants">
            {% include 'giants/fragments/tab__giants.html' %}
        </sl-tab-panel>
        <sl-tab-panel name="custom">준비중...</sl-tab-panel>
        <sl-tab-panel name="advanced">준비중...</sl-tab-panel>
    </sl-tab-group>
</section>
{% endblock content %}


{% block js %}
<script type="module"
    src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.12.0/cdn/shoelace-autoloader.js"></script>


{% endblock js %}